@import url('https://fonts.googleapis.com/css?family=Comfortaa');
p
{
  color: #7c9fd7;
  font-family: 'Comfortaa', cursive;
}
.kek
{
  color: #7c9fd7;
  font-family: 'Comfortaa', cursive;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 15px;
}
body
{
  background-image: url(background-1.jpg);
  background-size: 100%;

}
.cheburek
{
  color: #7c9fd7;
  font-family: 'Comfortaa', cursive;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 15px;
}
.shrek
{
  color: #7c9fd7;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 15px;
  font-family: 'Comfortaa', cursive;
}
