body{
  padding: 0;
  margin: 0;
  font-family: 'Google Sans', cursive;
  overflow-x: hidden;
}
h1{
  text-align: center;
  font-size: 2em;
}
h2{
  text-align: center;
  font-size: 1.5em;
}
small{
  text-align: center;
}
.first_panel{
  display: flex;
  width: 100%;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.25); */
}
.second_panel{
  display: flex;
  margin-top: 100px;
}
.third_panel{
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
  margin-bottom: 75px;
}
.slider{
  width: 100%;
}
.line{
  display: flex;
}
.sb{
  justify-content: space-between;
}
.sa{
  justify-content: space-around;
}
.jcc{
  justify-content: center;
}
.fdc{
  flex-direction: column;
}
.logo{
  width: 15%;
  padding: .5%;
}
.logo img{
  height: 100%;
}
.course{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
  width: 150px;
  height: 150px;
  border-radius: 10000px;
  opacity: .85;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: .25s;
}
.course:hover, .course:focus{
  opacity: 1;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.course:active{
  transform: scale(0.95);
}
.active_course{
  opacity: 1;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.1) rotate(-10deg);
}
.c1{
  background-color: #bf2a29;
}
.c2{
  background-color: #7d41b5;
}
.c3{
  background-color: #b0d033;
}
.c4{
  background-color: #70acd7;
}
.course .line{
  font-size: 2em;
  color: #fff;
}
.third_panel .line{
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider *{
  outline: none;
}
.slide{
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  transition: .25s;
}
.slide img{
  transform: scale(0.95);
  transition: .25s;
}
.slick-center img{
  transform: scale(1);
}
@media screen and (max-width: 767px){
  .logo{
    width: 35%;
    padding: 1.5%;
  }
  .course{
    width: 70px;
    height: 70px;
    margin-top: 25px;
  }
  .course .line{
    font-size: 1em;
  }
  .second_panel{
    margin-top: 25px;
  }
  .third_panel{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .third_panel .line{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slide{
    margin-left: 5px;
    margin-right: 5px;
  }
  .slide img{
    transform: scale(0.9);
  }
  .slick-center img{
    transform: scale(1);
  }
  h1{
    text-align: center;
    font-size: 1.5em;
  }
  h2{
    text-align: center;
    font-size: 1.25em;
  }
}
