/* <standart_styles> */
html{
  font-size: 20px;
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}
a{
  color: inherit;
  text-decoration: none;
  transition: .25s;
}
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body{
  margin: 0;
  padding: 0;
  background: url(../img/ripples.png);
  overflow-x: hidden;
}
h2{
  font-size: 1.75rem;
  font-weight: 500;
}
h3{
  font-size: 1.25rem;
  font-weight: 500;
}
section{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.25rem;
  padding: 1.5rem;
  color: #343434;
  transition: .4s;
  transition-delay: .25s;
}
.page_start{
  margin: 0;
  padding-top: 25%;
  padding-bottom: 25%;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
  background: rgba(0, 0, 0, 0.65);
}
.page_start h1{
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  line-height: 0;
  transition: .1s;
}
.bg_img{
  position: absolute;
  width: 100%;
  z-index: -10;
  transition: .2s;
}
.about{
  background: url(../img/ripples.png);
}
.about > p{
  line-height: 1.75;
}
.page_products{
  display: flex;
  flex-direction: column;
  background: url(../img/ripples.png);
  background-attachment: fixed;
}
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery_col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.gallery_img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  width: 28vw;
  height: 21vw;
  background-size: cover;
  overflow: hidden;
  color: rgba(255,255,255,.85);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5), inset 0 -800px 0 0 rgba(0, 0, 0, 0.5);
  transition: .3s;
  cursor: pointer;
}
.gallery_img > h3{
  display: inline;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  transition: .4s;
}
.gallery_img > p{
  display: inline;
  margin: 0;
  line-height: 1;
  font-size: .75rem;
  transition: .4s;
  transition-delay: .2s;
}
.gi1{
  background-image: url(../img/nomer2.jpg);
}
.gi2{
  background-image: url(../img/nomer1.jpg);
}
.gi3{
  background-image: url(../img/photo1.jpg);
}
.gallery_img:hover{
  transform: scale(1.025);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.75);
}
.gallery_img:hover > p{
  transform: translateY(300%);
}
.gallery_img:hover > h3{
  transform: translateY(-300%);
}
.page_advantages{
  display: flex;
  flex-direction: column;
  background: url(../img/ripples.png);
  background-attachment: fixed;
  padding-bottom: 0px
}
.adv > ul{
  padding-left: 1rem;
}
.adv > ul > li{
  margin-bottom: 1rem;
}
.page_contacts{
  display: flex;
  flex-direction: column;
  background: url(../img/ripples.png);
  background-attachment: fixed;
}
.ct_col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ct_col1{
  flex-direction: row;
}
.ct_side{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.chat_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat_link{
  width: 4rem;
  height: 4rem;
  color: #fff;
  color: rgba(255, 255, 255, .9);
  border-radius: 50%;
  background: #343434;
  overflow: hidden;
  transition: .25s;
}
.chat_link > i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.25rem;
  z-index: 1;
}
.walink:hover{
  background: #3c6;
}
.tglink:hover{
  background: #0088cc;
}
.ilink:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.chat_link:hover{
  transform: scale(1.025);
}
.tel_link{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.8;
  transition: .25s;
}
.tel_link:hover{
  opacity: .6;
}
#mapwrapper{
  width: 100%;
  height: 15rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  transition: .3s;
}

.footer{
  width: 100%;
  padding: 1rem;
  background: #343434;
  background: rgba(0, 0, 0, 0.85);
  color: #e4e4e4;
}

.call{
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5%; bottom: 5%;
  font-size: 1.75rem;
  background: #343434;
  border-radius: 2rem;
  box-shadow: 0 0 0 0 #343434;
  color: #fff;
  z-index: 10;
  transition: .5s;
}
.call:hover{
  box-shadow: 0 0 0 .25rem #343434;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 50%;
  height: 90%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 25%;
  margin-right: 50%;
  z-index: 10;
  background-color: #343434;
  border-radius: 10px;
  color: #fff;
  padding: 1.5rem;
  opacity: 0;
  transform: translateY(-400%);
  transition: .5s;
}
.info h2{
  font-size: 1.5rem;
  margin: 0;
}
.desc > ul{
  padding-left: 1.5rem;
  margin: 0;
}
.desc > img{
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
}
.active_info{
  transform: translateY(0);
  opacity: 1;
}
.times{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 2rem;
  cursor: pointer;
  transition: .25s;
}
.times:hover{
  background-color: transparent;
}
.scale0{
  transform: scale(0);
  opacity: 0;
}
.opacity0{
  opacity: 0;
  transform: translateY(-5%);
}
/* <media> */
@media screen and (max-width:768px) {
  .gallery_col{
    flex-direction: column;
  }
  .gallery_img{
    width: 100%;
    height: 60vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .ct_col1{
    flex-direction: column;
  }
  .ct_side{
    width: 100%;
  }
  .info{
    width: 96%;
    height: 80%;
    margin: 0;
    margin-left: 2%;
    margin-top: 15%;
  }
}
/* </standart_styles> */
