*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 2.5%;
  background: #204567;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: inherit;
}
textarea{
  tab-size: 2;
	-o-tab-size: 2;
	-moz-tab-size: 2;
}
.main_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.scale0{
  transform: scale(0);
  opacity: 0;
}
#code{
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px 0 0 10px;
  color: #e6f7fa;
  font-size: 1.25em;
  padding: 2%;
  outline: none;
  font-family: 'SpaceMono', monospace;
  transition: .4s;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255,255,255,0.35);
}
.butts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  width: 50%;
}
.button{
  text-align: center;
  border: none;
  background: #1289ab;
  color: #204567;
  color: #fff;
  transition: .5s;
  cursor: pointer;
  width: 10vw;
  height: 5vw;
  font-size: 2em;
  font-family: inherit;
  font-weight: 600;
}
.button:hover, .button:focus, .nav_button:hover, .nav_button:focus, .ib:focus, .ib:hover{
  color: #1289ab;
  background: #fff;
}
.saver{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 6%;
  right: 4%;
  padding: 1.5%;
  padding-right: 3%;
  padding-left: 3%;
  background: #1289ab;
  border-radius: 10px;
  color: #fff;
  transform: translateX(200%);
  transition: .5s;
}
.saved{
  transform: translate(0);
}
.nav{
  display: flex;
  position: fixed;
  left: 35%;
  bottom: 2%;
  justify-content: space-around;
  width: 30vw;
  height: 5.5vw;
  background: #1289ab;
  color: #fff;
  transition: .4s;
}
.nav_button{
  display: flex;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 30%;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: .25s;
}
.ib{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2%;
  bottom: 2%;
  border: none;
  outline: none;
  font-size: 2em;
  width: 5.5vw;
  height: 5.5vw;
  background: #1289ab;
  color: #fff;
  cursor: pointer;
  transition: .4s;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 30%; top: 15%;
  padding: 4%;
  padding-top: 0;
  width: 40%;
  height: 50%;
  background: #1289ab;
  color: #fff;
  transition: .4s;
}
